/*Typography*/
@font-face {
    font-family: 'Fanwood Text', serif;
    src: url('https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap');
}
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Nunito:wght@200&display=swap');
}

html{
    font-size: 100%;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #ECF1F4;
    width: 100%;
    line-height: 1.5;
}

/*Header styles*/
header{
    text-align: center;
    background-color: #fff;
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h1{
    font-family: 'Fanwood Text', serif;
    color: #244659;
    font-size: 2.7rem; 
    padding: 1rem 1rem;
    margin: 1rem 0 1rem;
}
h1 a{
    text-decoration: none;
    color:#244659;
}
h2{
    font-family:'Fanwood Text', serif;
    color: #244659;
    text-align: center;
    padding: 1rem 1rem;
    font-size: 1.7rem;
    margin: 2rem 2rem 2rem;
}
h3{
    font-weight:600;
    font-family: 'Fanwood Text', serif;
    color: #5287A5;
    margin-left: 2rem;
    font-size: 1.2rem;
}
h4{
    padding: 1rem 1rem;
    text-align: center;
}
h4 a{
    color:#DA3743;
    font-weight: bold;
    font-size: 14pt;
    text-decoration: none;
    display:block;
    text-align: center;
    padding-bottom: 2rem;
}
h4 a:hover{
    color:#91CFF2;
}


/*Nav styles*/
nav{
    width: 100%;
}
nav ul{
    text-align: center;
    background-color: #fff;
    font-size: 1.3rem;
    margin-top: 5rem;
    font-family: 'Nunito', sans-serif;
}
nav ul li{
    border-bottom: 1px solid #ECF1F4;
    padding: 1rem 1rem;
}
nav a{
    width: 100%;
    color: #5287A5;
    text-decoration: none;
}
a:hover{
    color: #DA3743;
}

/*Link styles*/
p > a{
    color:#DA3743;
    text-decoration: none;
}
p > a:hover{
    color:#91CFF2;
}
.protokoll{
    padding-bottom: 2rem;
}
.file{
    color:#DA3743;
    margin-left: 1rem;
    text-decoration:underline;
}
.file:hover{
    color:#91CFF2;
}



/*Main styles*/
main{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 2rem;
}
.section{
    border: 1px solid #91CFF2;
    width: 70%;
    text-align: center; 
    margin-top: 4rem;
}
article{
    margin-bottom: 2rem;
}
.date{
    font-size: 1rem;
    color:#244659;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
p{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.namn{
    padding: 2rem 2rem 2rem 2rem;
    font-weight:bold;
    line-height: 1.7;
}
.em{
    display: block;
    font-size: 1.5rem;
    color:#244659;
    font-style: italic;
    text-align: left;
}
p > span{
    margin-left: 5rem;
    font-weight:normal;
}

/*form styles*/
.formulär{
    text-align: center;
}
.titel{
    font-weight: bold;
    display:block;
    color:#244659;
    padding: 0.5rem 0.5rem;
}
#rubrik{
    margin-top:1.5rem;
    width: 30rem;
    height: 1rem;
    color:#5287A5;
}
input{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#5287A5;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
}
textarea{
    resize: none;
    text-align: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
button{
    color:#DA3743;
}

/*table styles*/
table{
    margin: 0 auto;
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
table, th, td{
    border: 1px solid #ECF1F4;
}
th, td{
    padding: 1rem;
}
th{
    font-weight: bold;
    color:#244659;
    text-align: left;
}
.tmail{
    color:#244659;
    text-decoration:underline;
}
.tmail:hover{
    color:#5287A5
}
.tel{
    color:#DA3743;
}
.tel:hover{
    color:#91CFF2;
}

/*img styles*/
.djupvik{
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}
.hamnensdag{
    width: 40%;
    height: 45%;
    display: block;
    margin: 0 auto;
    padding: 1rem 1rem;
    padding-bottom: 2rem;

}
.english{
    width: 10%;
    height: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 1rem;
}
.gravplats{
    display: inline;
    float: right;
    clear: both;
    padding: 1rem 1rem;
    
}
.strand{
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.konrad{
    display:block;
    margin: 0 auto;
    padding: 1rem 1rem 1rem 1rem;
}
.konradtext{
    color:#244659;
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 2rem;
}
.photo{
    color:#244659;
    font-size: 0.8rem;
    text-align:center;
}

/*weather styles*/
.info{
    text-align: center;
    padding: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    color:#5287A5;
    font-family: 'Nunito', sans-serif;
}
.weather{
    font-weight: bold;
}
.sol{
    width: 10%;
    height: 10%;
    display:block;
    margin: 0 auto;
    padding-top: 1rem;
}

/*Footer*/
footer{
    margin: 0 auto;
    background-color:#5287A5;
    width: 100%;
    color:#244659;
    text-align: center;
}



/*Media queries*/
@media (min-width: 700px){
    nav ul{
        display: flex; 
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    nav ul li{
        width: 100%;
        border: none;
    }
    main{
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    }
    footer{
        width: 70%;
    }
}

@media (min-width: 1024px){
    main{
        width: 70%;
    }
    table{
        width: 80%;
    }
}